<template>
  <img
    src="https://futbolbase.tv/wp-content/uploads/2020/03/logo-mobil-1.png"
    alt="fbasetv"
  />
  <div
    class="columns"
    style="margin: 20px"
    v-for="(items, index) in matches"
    :key="index"
  >
    <div class="column is-4 center" v-for="(match, idx) in items" :key="idx">
      <div class="card" style="width: 25em">
        <!-- <header class="card-header">
          <p class="card-header-title">
            {{ match.homeTeamId ? match.homeTeamId.name : 'n/a' }} -
            {{ match.visitorTeamId ? match.visitorTeamId.name : 'n/a' }}
          </p>
          <button class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </header> -->
        <!-- <div class="card-image">
          <video-player
            class="video-player vjs-big-play-centered"
            :src="match.file ? match.file.path : null"
            poster="https://futbolbase.tv/wp-content/uploads/2020/03/logo-mobil-1.png"
            playsinline
            controls
            :volume="0.6"
            :height="120"
            :width="176"
            :playback-rates="[0.7, 1.0, 1.5, 2.0, 10.0]"
          />
        </div> -->
        <div class="card-content">
          <div class="content">
            <p>
              <strong>{{
                match.homeTeamId ? match.homeTeamId.name : 'n/a'
              }}</strong>
              -
              <strong>{{
                match.visitorTeamId ? match.visitorTeamId.name : 'n/a'
              }}</strong>
            </p>
            <p>
              Fecha:
              <strong
                >{{ match.date.substring(0, 10) }} | {{ match.time }}</strong
              >
            </p>
            <p>
              Hora:
              <strong>{{ match.time }}</strong>
            </p>
          </div>
        </div>
        <footer class="card-footer">
          <a
            :href="match.file ? match.file.path : '#'"
            :class="`card-footer-item button ${
              match.file ? 'is-success' : 'is-danger'
            }`"
            ><strong>{{
              match.file ? 'Descargar' : 'Video no disponible'
            }}</strong></a
          >
        </footer>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent, shallowRef } from 'vue'
import { VideoJsPlayer } from 'video.js'
import { VideoPlayer } from '@videojs-player/vue'
import 'video.js/dist/video-js.css'
import axios from 'axios'

export default defineComponent({
  name: 'vue-basic-player-example',
  title: 'Basic player (Vue)',
  url: import.meta.url,
  components: {
    VideoPlayer,
  },
  data() {
    return {
      matches: [],
    }
  },
  mounted() {
    this.listMatches()
  },
  setup() {
    const player = shallowRef()
    const handleMounted = () => {
      player.value = payload.player
      console.log('Basic player mounted', payload)
    }

    const handleEvent = () => {
      console.log('Basic player event', log)
    }

    return { player, handleMounted, handleEvent }
  },
  methods: {
    async listMatches() {
      try {
        const { data } = await axios.post(
          'https://api.fbase.tv/v1/matches-faf/list?limit=100',
          {}
        )

        console.log(data)
        this.matches = this.parseData(
          data && data.data ? data.data.matches : []
        )
      } catch (error) {
        console.log(error)
      }
    },
    parseData(arr) {
      let result = []
      const size = 3
      for (let i = 0; i < arr.length; i += size) {
        let tmp = arr.slice(i, i + size)
        result.push(tmp)
      }
      console.log('result', result)
      return result
    },
  },
})
</script>

<style scoped>
.center {
  display: flex;
  justify-content: center;
}
</style>
